* {
    margin: 0;
    padding: 0;
}
.banner {
    width: 1080px;
    height: 432px;
    position: relative;
    overflow: hidden;
    margin: 50px auto;
}
.box {
    width: 4320px;
    height: 432px;
}
.box div {
    float: left;
}
.box div img{
    
    width: 1080px;
}
.but div {
    position: absolute;
    top: 200px;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 25px;
    background-color: rgba(102, 215, 255, 0.5);
    color: white;
    z-index: 2;
}
.next {
    right: 50px;
}
.prev {
    left: 50px;
}
.Dots {
    position: absolute;
    bottom: 30px;
    right: 50px;
}
.Dots a {
    padding: 1px 9px;
    background-color: rgba(102, 215, 255, 0.7);
    margin-left: 8px;
    border-radius: 50%;
}
.Dots a.active {
    background-color: white;
}
.zryactive{opacity: 1;}